@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;500&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inconsolata&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Neuton:wght@200;400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Handlee&family=Inconsolata&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Neuton:wght@200;400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
    color: white;
    height: 100px;

}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
        height: 100%;
}

.logo {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
}

.menu {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;


}

.menu img {
    width: 30px;

    /*Menu de hamburguer*/
}

.menu_01 {

    word-spacing: 30px;

}


#barras {
    /* display: none; */
}

.login_carrinho {
    display: flex;


}

.icone_menu {
    width: 40px;


}


.barra-busca {
    width: 900px;
    height: 30px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;


}

.lupa {
    width: 30px;


}

.banner {
    height: 500px;
    background-image: url(../imagens/banner01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;



}

.banner-entrega {
    height: 100px;
    background-image: url(../imagens/entrega2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.ofertas {
    height: 900px;
    background-image: url(../imagens/background_promocao.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;



}

.cards {
    display: flex;
    align-items: center;   
    justify-content: center; 
    flex-wrap: wrap;

}



.card {

    border-radius: 15px;
    box-shadow: 15px 15px 30px 0 rgba(50, 50, 50 0.22);
    padding: 10px;
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    width: 180px;;
    height: 220px;
    transition: all 0, 3s ease-out;
    box-shadow: 12px 9px 15px 5px #000000;
    border: 30px;
    

}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card h5  {
    color: black;

}

.cards a {
    display: flex;
    align-items: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
    background-color: green;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    margin: 12px;
    width: 75px;
    
    
}



.cards p, h5 {
    display: flex;
    justify-content: center;
    
}

.card img {
    width: 55px;
    align-items: center;
}

.banner-melhor {
    background-image: url(../imagens/banner_melhorloja.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;

}

.galeria {
    width: 85vw;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding: 40px;
    border-left: 190px;
    border-right: 80px;
    border-width: 40px;

}

.galeria img {
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.galeria img:hover {
    flex: 4;

}

.galeria_imagens h2 {
    font-family: Alfa Slab One;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 45px;

}

.galeria_imagens a {

    background-color: #5C86F2;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    border-radius: 10px;


}

.bt_participe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;


}

.banner_confira {
    background-image: url(../imagens/banner_confira2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 106px;
    margin-top: 100px;
}


.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px;


}

.rodape {
    background-color: #000000;
    height: 180px;
    color: antiquewhite;
    font-family: roboto;
    padding: 30px;

}

.imglista {
    width: 20px;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;

}




@media screen and (max-width: 834px) {
    .menu_01 {
        display: none;
        flex-direction: column;
        background-color: #5C86F2;
        align-items: center;
        position: absolute;
    }
}

@media screen and (max-width:834px) {
    #barras {
        display: inline-block;

    }

}

@media screen and (max-width:834px) {
    .cabecalho {
        background-color: cadetblue;
        position: relative;

    }


    .logo {
        width: fit-content;


    }

    .barra-busca {
        width: fit-content;
    }







}